/* Structure */

.dynamicImagesCarousel {
	position: relative;
}

.dynamicImagesCarousel > :not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.dynamicImagesCarousel > :first-child {
	position: relative;
}

/* Transition effect */

.dynamicImagesCarousel :not( .active ) {
	opacity: 0;
}

.dynamicImagesCarousel .active {
	opacity: 1;
}

.dynamicImagesCarousel > * {
	transition: opacity 3s ease-in-out;
}
